# Assignment 1
### Understanding Uncertainty
### Due 9/5

1. Create a new public repo on Github under your account. Include a readme file.
2. Clone it to your machine. Put this file into that repo.
3. Use the following function to download the example data for the course:

In [8]:
def download_data(force=False):
    """Download and extract course data from Zenodo."""
    import urllib.request, zipfile, os
    
    zip_path = 'data.zip'
    data_dir = 'data'
    
    if not os.path.exists(zip_path) or force:
        print("Downloading course data")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/16954427/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")
    else:
        print("Download file already exists")
        
    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")
    else:
        print("Data directory already exists")

download_data()

Download file already exists
Data directory already exists

4. Open one of the datasets using Pandas:
    1. `ames_prices.csv`: Housing characteristics and prices
    2. `college_completion.csv`: Public, nonprofit, and for-profit educational institutions, graduation rates, and financial aid
    3. `ForeignGifts_edu.csv`: Monetary and in-kind transfers from foreign entities to U.S. educational institutions
    4. `iowa.csv`: Liquor sales in Iowa, at the transaction level
    5. `metabric.csv`: Cancer patient and outcome data
    6. `mn_police_use_of_force.csv`: Records of physical altercations between Minnessota police and private citizens
    7. `nhanes_data_17_18.csv`: National Health and Nutrition Examination Survey
    8. `tuna.csv`: Yellowfin Tuna Genome (I don't recommend this one; it's just a sequence of G, C, A, T )
    9. `va_procurement.csv`: Public spending by the state of Virginia

5. Pick two or three variables and briefly analyze them
    - Is it a categorical or numeric variable?
    - How many missing values are there? (`df['var'].isna()` and `np.sum()`)
    - If categorical, tabulate the values (`df['var'].value_counts()`) and if numeric, get a summary (`df['var'].describe()`)

6. What are some questions and prediction tools you could create using these data? Who would the stakeholder be for that prediction tool? What practical or ethical questions would it create? What other data would you want, that are not available in your data?

7. Commit your work to the repo (`git commit -am 'Finish assignment'` at the command line, or use the Git panel in VS Code). Push your work back to Github and submit the link on Canvas in the assignment tab.

In [17]:
import pandas as pd
import numpy as np

In [10]:
college_completion = pd.read_csv('data/college_completion.csv')

In [11]:
college_completion.head()

,index,unitid,chronname,city,state,level,control,basic,hbcu,flagship,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

Variables Chosen:
- chronname = college name
- counted_pct = completion rate
- level = how long the degree is

Chronname
- Categorial

In [27]:
#Amount of missing values and amount of each variable
x =college_completion['chronname'].isna().sum()
y = college_completion['chronname'].value_counts()
print(f'Missing Values: {x}')
print(y)

Missing Values: 0
chronname
Metro Business College             3
ITT Technical Institute-Madison    3
Anamarc College                    2
Alabama A&M University             1
Sisseton-Wahpeton College          1
                                  ..
Gogebic Community College          1
Grace Bible College                1
Cornerstone University             1
Grand Rapids Community College     1
Brown College-Brooklyn Center      1
Name: count, Length: 3793, dtype: int64

Counted_pct
- Numeric

In [28]:
#Amount of missing values and amount of each variable
x =college_completion['counted_pct'].isna().sum()
y = college_completion['counted_pct'].describe()
print(f'Missing Values: {x}')
print(y)

Missing Values: 426
count         3372
unique        1344
top       100.0|07
freq            94
Name: counted_pct, dtype: object

In [31]:
#Amount of missing values and amount of each variable
x =college_completion['level'].isna().sum()
y = college_completion['level'].value_counts()
print(f'Missing Values: {x}')
print(y)

Missing Values: 0
level
4-year    2339
2-year    1459
Name: count, dtype: int64

Question 6:

After looking at this dataset there are a lot opf predictions that we can make. First of all we could use the data to help predict the graduation rates of other schools or newer schools. We can also use them to predict your completion rate based on your level and major. There are plenty things you can predict. So a question you could ask is I am going to Alabama for 4 years in business what are my chances of graduating. To create this tool you could use a regression model. The stakeholders for this model would mostly be students and or parents who are choosing what college to send their kid to or what major that a student should pick. The prediction tool would raise some questions like shouldnt students being going to college to pursue what they want to do later in life not just to graduate. Some other stats I would love to have is college gpa and high school gpa. I think that could tell a competely different story for a lot of people and would make the regression model a lot more reliable.